<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>159676535760-pit4j9hbpcvc29h49003ra0npt6pdcl7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.159676535760-pit4j9hbpcvc29h49003ra0npt6pdcl7</string>
	<key>API_KEY</key>
	<string>AIzaSyB9Qd2Cgbe6jB7nPe8i_3J7zYsxwTzt-9g</string>
	<key>GCM_SENDER_ID</key>
	<string>159676535760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demoProject</string>
	<key>PROJECT_ID</key>
	<string>project-demo-7d853</string>
	<key>STORAGE_BUCKET</key>
	<string>project-demo-7d853.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:159676535760:ios:98b131a07d885b2b519fd5</string>
</dict>
</plist>